/** {
    font-family: Georgia, "Times New Roman", Times, serif;
}
p {
    text-align: justify;
}
.headline {
    text-align: center;
    font-variant: small-caps;
}

#footer {
    background: white;
    border-top: 1px solid black;
}*/