{% extends "two-col.html" %}
{% block main_content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
        {% for print_issue in print_issues %}
            {% if forloop.first %}
                <h1>Latest Issue</h1>
                <h3 class="headline"><a href="{% url 'articles:print-issue-detail' print_issue.pk %}">Volume {{ print_issue.volume }}, Issue {{ print_issue.issue }}</a></h3>
                {% for article in print_issue.article_set.all %}
                    {% include 'articles/includes/article_preview.html' %}
                {% endfor %}
                <h2>Past Issues</h2>
            {% else %}
                <h3><a href="{% url 'articles:print-issue-detail' print_issue.pk %}">Volume {{ print_issue.volume }}, Issue {{ print_issue.issue }}</a></h3>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock main_content %}