{% extends "base.html" %}
{% load static %}
{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles/bigfoot/bigfoot-bottom.css' %}">
{% endblock extrastyles %}
{% block main_content %}
<article>
    <p class="small">{{article.pub_date}} | <a href="{% url 'articles:category-detail' article.category.pk article.category.slug %}" class="label label-default">{{article.category.title}}</a></p>
    <h1 class="headline">{{article.headline}}</h1>
    <p class="author">By {{article.author}}</p>
    {{article.body|safe}}
    <div class="well">
        <h6>{{article.author}}</h6>
        {{article.author_bio|safe}}
    </div>
</article>
{% endblock main_content %}
{% block extrajs %}
    <script src="{% static 'articles/bigfoot/bigfoot.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $.bigfoot({
            positionContent:false,
        });
    </script>
{% endblock extrajs %}
