{% extends "base.html" %}
{% load static %}
{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'articles/bigfoot/bigfoot-bottom.css' %}">
{% endblock extrastyles %}
{% block main_content %}
<article>
    <p class="small">{{object.pub_date}} | <a href="{% url 'articles:category-detail' object.category.pk object.category.slug %}" class="label label-default">{{object.category.title}}</a></p>
    <h1 class="headline">{{object.headline}}</h1>
    <p class="author">By {{object.author}}</p>
    {{object.body|safe}}
</article>
{% endblock main_content %}
{% block extrajs %}
    <script src="{% static 'articles/bigfoot/bigfoot.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $.bigfoot({
            positionContent:false,
        });
    </script>
{% endblock extrajs %}
