{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Denver Law Review{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        {% block extrastyles %}
        {% endblock extrastyles %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <img class="img-responsive" src="{% static '/img/DLRBannerLogo.png' %}" alt="Denver Law Review">
            </div>
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="" title="">Home</a></li>
                        <li><a href="" title="">Print Issues</a></li>
                        <li><a href="" title="">Special Features</a></li>
                        <li><a href="#">Symposia</a></li>
                        <li><a href="#" title="">News &amp; Events</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Masthead</a></li>
                                <li><a href="#">Submissions</a></li>
                                <li><a href="#">Subscriptions</a></li>
                                <li><a href="#">Candidacy</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    {% block main_content %}
                    {% endblock main_content %}
                </div>
                <div class="well col-lg-4 col-md-4">
                    <h2>This is a sidebar.</h2>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static '/js/boostrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
        {% block extrajs %}

        {% endblock extrajs %}
    </body>
</html>